<!DOCTYPE html>
<html>
<head>
  <title>ghostname</title>

  <style>
    body, html {
      font-size: 14px;
      font-family: Verdana, Helvetica;
      color: #44444e;
    }

    div {
      margin: 20px;
    }
  </style>


</head>

<body>

  <div>
    ghostname - api for the name game
  </div>

</body>
</html>
